* text=auto eol=lf
*.md text eol=lf
*.json text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.html text eol=lf
*.png binary
*.woff2 binary
# Preserve upstream license snapshots byte-for-byte for their recorded SHA-256.
assets/fonts/licenses/upstream/*.txt -text
